blockquote {
	padding-left: 5px;
	font-style: italic;
	border-left: 10px #721919 solid;
	}
#blog-title a{
	
color:#b16000;
}
.fbac-menu{
	background-color: #721919;
	}
	
	
.fbac-menu li ul{
			background-color: #721919;
		}

.fbac-menu ul li a:hover{
		background-color: #9f2020;
		
		
		}
		
.fbac-menu 	li li a:hover{
 
background-color:#9f2020;
}
.fbac-content a{
color: #b16000;
}

.fbac-post a {
color: #b16000;
}
.post-link {
	
	color: #b16000;
	

}
#footer {
 	background-color: #d49b40;
	
	}
	
	
	#comments  {
		background-color: #fffbf6;
		
		}
		
	#comments  a{
		color:#b16000;

		}
#cool-bg {
		background-color: #fffbf6
}

#nav-below a {
		color:#b16000;

		}