blockquote {
	padding-left: 5px;
	font-style: italic;
	border-left: 10px #006600 solid;
	}
#blog-title a{
	
color:#006600;
}
.fbac-menu{
	background-color: #004700;
	}
	
	
.fbac-menu li ul{
			background-color: #004700;
		}

.fbac-menu ul li a:hover{
		background-color: #007700;
		
		
		}
		
.fbac-menu 	li li a:hover{
 
background-color:#007700;
}
.fbac-content a{
color: #006600;
}

.fbac-post a {
color: #006600;
}
.post-link {
	
	color: #006600;
	

}
#footer {
 	background-color: #eeffee;
	
	}
	
	
	#comments  {
		background-color: #fefffe;
		
		}
		
	#comments  a{
		color:#006600;

		}
#cool-bg {
		background-color: #fefffe;
}

#nav-below a {
		color:#006600;

		}