blockquote {
	padding-left: 5px;
	font-style: italic;
	border-left: 10px #e57c00 solid;
	}
#blog-title a{
	
color:#e57c00;
}
.fbac-menu{
	background-color: #ff8a00;
	}
	
	
.fbac-menu li ul{
			background-color: #ff8a00;
		}

.fbac-menu ul li a:hover{
		background-color: #ffac4b;
		
		
		}
		
.fbac-menu 	li li a:hover{
 
background-color:#ffac4b;
}
.fbac-content a{
color: #e57c00;
}

.fbac-post a {
color: #e57c00;
}
.post-link {
	
	color: #e57c00;
	

}
#footer {
 	background-color: #ffac4b;
	
	}
	
	
	#comments  {
		background-color: #fffbf6;
		
		}
		
	#comments  a{
		color:#e57c00;

		}
#cool-bg {
		background-color: #fffbf6
}

#nav-below a {
		color:#e57c00;

		}