blockquote {
	padding-left: 5px;
	font-style: italic;
	border-left: 10px #ed9a9a solid;
	}
#blog-title a{
	
color:#dc5f8f;
}
.fbac-menu{
	background-color: #dc008f;
	}
	
	
.fbac-menu li ul{
			background-color: #dc008f;
		}

.fbac-menu ul li a:hover{
		background-color: #dc38a3;
		
		
		}
		
.fbac-menu 	li li a:hover{
 
background-color:#dc38a3;
}
.fbac-content a{
color: #dc5f8f;
}

.fbac-post a {
color: #dc5f8f;
}
.post-link {
	
	color: #dc5f8f;
	

}
#footer {
 	background-color: #ed9a9a;
	
	}
	
	
	#comments  {
		background-color: #fffbf6;
		
		}
		
	#comments  a{
		color:#dc5f8f;

		}
#cool-bg {
		background-color: #fffbf6
}

#nav-below a {
		color:#dc5f8f;

		}