blockquote {
	padding-left: 5px;
	font-style: italic;
	border-left: 10px #d77577 solid;
	}
#blog-title a{
	
color:#d77577;
}
.fbac-menu{
	background-color: #b56363;
	}
	
	
.fbac-menu li ul{
			background-color: #b56363;
		}

.fbac-menu ul li a:hover{
		background-color: #d07171;
		
		
		}
		
.fbac-menu 	li li a:hover{
 
background-color:#d07171;
}
.fbac-content a{
color: #d77577;
}

.fbac-post a {
color: #d77577;
}
.post-link {
	
	color: #d77577;
	

}
#footer {
 	background-color: #d07171;
	
	}
	
	
	#comments  {
		background-color: #fffbf6;
		
		}
		
	#comments  a{
		color:#d77577;

		}
#cool-bg {
		background-color: #fffbf6
}

#nav-below a {
		color:#d77577;

		}